In [2]:
toyota_df.head()

Recalcular age con mes y anio de fabricacion

In [ ]:
toyota_df.describe().T

In [ ]:
toyota_df.shape

In [ ]:
toyota_df.info()

In [ ]:
toyota_df.isnull().sum()

In [ ]:
#Importing libraries
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
# Search for duplicates
toyota_df.duplicated().value_counts()

## Analisis de modelos

Listar modelos del dataset.

In [ ]:
toyota_df['Model'].value_counts()

Hay valores mal escritos, se debe realizar limpieza.

In [ ]:
toyota_df['Model'] = toyota_df['Model'].str.upper()
toyota_df['Model'] = toyota_df['Model'].str.strip()
toyota_df['Model'].value_counts()

Vamos a sacar signos de pregunta en todos. Patron comun que nombres inician con ?

In [ ]:
toyota_df['Model'] = toyota_df['Model'].str.replace('?', '')
toyota_df['Model'].value_counts()

Existen varios modelos iguales escritos de forma diferente. Sin embargo, en la mayoria de los casos, los valores se diferencian por cuestiones como la cantidad de puertas o detalles de algun agregado. Es necesario usar esta columna de modelos o podemos reemplazarla con otras columnas? Vamos a eliminar cadenas innecesarias en los nombres de los modelos.

In [ ]:
toyota_df['Model'] = toyota_df['Model'].str.replace('TOYOTA COROLLA', '')
toyota_df['Model'] = toyota_df['Model'].str.replace('LINEA', '')
toyota_df['Model'] = toyota_df['Model'].str.replace('HATCHBACK', 'HATCHB')
toyota_df['Model'] = toyota_df['Model'].str.replace(' HB', 'HATCHB')
toyota_df['Model'] = toyota_df['Model'].str.replace('LIFTBACK', 'LIFTB')
toyota_df['Model'] = toyota_df['Model'].str.replace('LB', 'LIFTB')
toyota_df['Model'] = toyota_df['Model'].str.replace('VVT I', 'VVTI')
toyota_df['Model'] = toyota_df['Model'].str.replace('VVT-I', 'VVTI')
toyota_df['Model'] = toyota_df['Model'].str.replace('VVTL-I', 'VVTLI')
toyota_df['Model'] = toyota_df['Model'].str.replace('VVTL I', 'VVTLI')
toyota_df['Model'] = toyota_df['Model'].str.replace('T-SPORT', 'TSPORT')
toyota_df['Model'] = toyota_df['Model'].str.replace('T SPORT', 'TSPORT')

# Delete doors because it's included as a feature
toyota_df['Model'] = toyota_df['Model'].str.replace(r'\d+\/\d+\-DOORS', '', regex=True)
# Delete cc because it's included as a feature
toyota_df['Model'] = toyota_df['Model'].str.replace(r'\d+\.\d+', '', regex=True)

#Let's make an array with all the words remaining in the column
words = toyota_df['Model'].str.split().explode()
words.unique()

De las palabras vistas arriba, 'Terra', 'Luna' y 'Sol' son gamas de toyota corollas que ofrecian diferentes caracteristicas. Vamos a crear una columna en donde podamos visualizar los tipos de cada instancia.

In [ ]:
toyota_df['Model_type'] = toyota_df['Model'].apply(lambda x: 0 if 'TERRA' in x else 1 if 'LUNA' in x else 2 if 'SOL' in x else 3)
sns.histplot(toyota_df['Model_type'])
plt.show()

In [ ]:
sns.scatterplot(x='Model_type', y='Price', data=toyota_df)
plt.show()

## Analisis combustible

In [ ]:
toyota_df['Fuel_Type'].value_counts()

Parece correcto. No hay categorias anormales. Los convertimos a numeros y vemos el scatterplot

In [ ]:
# Map fuel type to numbers
toyota_df['Fuel_Type'] = toyota_df['Fuel_Type'].map({'Petrol': 0, 'Diesel': 1, 'CNG': 2})
sns.scatterplot(x='Fuel_Type', y='Price', data=toyota_df)
plt.show()

## Analsis generales

In [ ]:
# Let's create histograms for each column with seaborn
plt.figure(figsize=(10, 10))
toyota_df.hist(figsize=(10, 10))
plt.show()