In [1]:
toyota_df.head()

NameError: name 'toyota_df' is not defined

Recalcular age con mes y anio de fabricacion

In [ ]:
toyota_df.describe().T

In [ ]:
toyota_df.shape

In [ ]:
toyota_df.info()

In [ ]:
toyota_df.isnull().sum()

In [ ]:
#Importing libraries
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
# Search for duplicates
toyota_df.duplicated().value_counts()

## Analisis de modelo

Listar modelos del dataset.

In [ ]:
toyota_df['Model'].value_counts()

Hay valores mal escritos, se debe realizar limpieza.

In [ ]:
toyota_df['Model'] = toyota_df['Model'].str.upper()
toyota_df['Model'] = toyota_df['Model'].str.strip()
toyota_df['Model'].value_counts()

Vamos a sacar signos de pregunta en todos. Patron comun que nombres inician con ?

In [ ]:
toyota_df['Model'] = toyota_df['Model'].str.replace('?', '')
toyota_df['Model'].value_counts()

Existen varios modelos iguales escritos de forma diferente. Sin embargo, en la mayoria de los casos, los valores se diferencian por cuestiones como la cantidad de puertas o detalles de algun agregado. Es necesario usar esta columna de modelos o podemos reemplazarla con otras columnas? Vamos a eliminar cadenas innecesarias en los nombres de los modelos.

In [ ]:
# ------ CHARACTERS ------
# TODO A CONSULTAR CON EL CLIENTE
toyota_df['Model'] = toyota_df['Model'].str.replace('!', ' ') # Inutil
toyota_df['Model'] = toyota_df['Model'].str.replace('+', ' ') # Inutil
toyota_df['Model'] = toyota_df['Model'].str.replace('MODEL', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('TOYOTA COROLLA', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('LINEA', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('LIN.', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('L.', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('BLUE', ' ') # Color azul
toyota_df['Model'] = toyota_df['Model'].str.replace('(NW TYPE)', ' ') # Modelo nuevo
toyota_df['Model'] = toyota_df['Model'].str.replace(' NW ', ' ') # Modelo nuevo
toyota_df['Model'] = toyota_df['Model'].str.replace('NIEUW', ' ') # Modelo nuevo
toyota_df['Model'] = toyota_df['Model'].str.replace('(7)', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace(' 1 ', ' ') 
toyota_df['Model'] = toyota_df['Model'].str.replace('13I', ' ') 
toyota_df['Model'] = toyota_df['Model'].str.replace('1 6-16v', ' 16V ') 

# Doors
toyota_df['Model'] = toyota_df['Model'].str.replace(r' \d+\/\d+\-DOORS', ' ', regex=True)
toyota_df['Model'] = toyota_df['Model'].str.replace(r' \d+\-DOORS', ' ', regex=True)
toyota_df['Model'] = toyota_df['Model'].str.replace(r' \d+\-DRS', ' ', regex=True)
toyota_df['Model'] = toyota_df['Model'].str.replace(r' \d+DRS', ' ', regex=True)
toyota_df['Model'] = toyota_df['Model'].str.replace(r' \d+ DRS', ' ', regex=True)
toyota_df['Model'] = toyota_df['Model'].str.replace(r' \d+DR', ' ', regex=True)
toyota_df['Model'] = toyota_df['Model'].str.replace(r' \d+D ', ' ', regex=True)
toyota_df['Model'] = toyota_df['Model'].str.replace(r' \d+ DOORS', ' ', regex=True)
toyota_df['Model'] = toyota_df['Model'].str.replace(r' \d+DOORS', ' ', regex=True)


# ----- MODEL NAMES ------

# Hatchback
toyota_df['Model'] = toyota_df['Model'].str.replace('TERRA/COMF.', ' TERRA COMFORT ')
toyota_df['Model'] = toyota_df['Model'].str.replace('G6-R', ' G6 ')
toyota_df['Model'] = toyota_df['Model'].str.replace('G6R', ' G6 ')
toyota_df['Model'] = toyota_df['Model'].str.replace('*G3*', ' G3 ')
toyota_df['Model'] = toyota_df['Model'].str.replace('HATCHBACK', ' HATCH_B ')
toyota_df['Model'] = toyota_df['Model'].str.replace('HATCHB', ' HATCH_B ')
toyota_df['Model'] = toyota_df['Model'].str.replace('HB', ' HATCH_B ')
toyota_df['Model'] = toyota_df['Model'].str.replace(' H ', ' HATCH_B ')

# Liftback
toyota_df['Model'] = toyota_df['Model'].str.replace('LIFTBACK', ' LIFTB ')
toyota_df['Model'] = toyota_df['Model'].str.replace('LIFT ', ' LIFTB ')
toyota_df['Model'] = toyota_df['Model'].str.replace('LB', ' LIFTB ')

# Es 'Sport'
toyota_df['Model'] = toyota_df['Model'].str.replace('T SPORT', ' SPORT ')
toyota_df['Model'] = toyota_df['Model'].str.replace('T-SPORT', ' SPORT ')
toyota_df['Model'] = toyota_df['Model'].str.replace(' S ', ' SPORT ')  # TODO Preguntar

# Wagon
toyota_df['Model'] = toyota_df['Model'].str.replace('WGN', ' WAGON ')
toyota_df['Model'] = toyota_df['Model'].str.replace('STATIONWAGEN', ' WAGON ')
toyota_df['Model'] = toyota_df['Model'].str.replace('STION', ' WAGON ')
toyota_df['Model'] = toyota_df['Model'].str.replace('STATION', ' WAGON ')
toyota_df['Model'] = toyota_df['Model'].str.replace('ST ', ' ')

# Sedan
toyota_df['Model'] = toyota_df['Model'].str.replace('SDN', ' SEDAN ')
toyota_df['Model'] = toyota_df['Model'].str.replace('SD', ' SEDAN ')
toyota_df['Model'] = toyota_df['Model'].str.replace('COMF.', ' COMFORT ')
toyota_df['Model'] = toyota_df['Model'].str.replace('COMF ', ' COMFORT ')

# Other models
toyota_df['Model'] = toyota_df['Model'].str.replace('ANDERS', ' COMM ')
toyota_df['Model'] = toyota_df['Model'].str.replace('EXECUTIVE', ' EXEC ')

# ----- SPECIFICATION NAMES ------

# ., 6, V

# HP
toyota_df['Model'] = toyota_df['Model'].str.replace('90', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('110', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('130', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('116', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('700', ' ')
toyota_df['Model'] = toyota_df['Model'].str.replace('1800', ' ')

# Combustible
toyota_df['Model'] = toyota_df['Model'].str.replace(' D ', ' DSL ')
toyota_df['Model'] = toyota_df['Model'].str.replace('DIESEL', ' DSL ')

# Valvulas
toyota_df['Model'] = toyota_df['Model'].str.replace('VVT I', ' VVTI ')
toyota_df['Model'] = toyota_df['Model'].str.replace(' I ', ' VVTI ')
toyota_df['Model'] = toyota_df['Model'].str.replace('VVT-I', ' VVTI ')
toyota_df['Model'] = toyota_df['Model'].str.replace('VVTL-I', ' VVTLI ')
toyota_df['Model'] = toyota_df['Model'].str.replace('VVTL I', ' VVTLI ')
toyota_df['Model'] = toyota_df['Model'].str.replace('I-16V', ' 16V ')
toyota_df['Model'] = toyota_df['Model'].str.replace('-16 V ', ' 16V ')
toyota_df['Model'] = toyota_df['Model'].str.replace(' 16 V ', ' 16V ')
toyota_df['Model'] = toyota_df['Model'].str.replace('-16', ' 16V ')
toyota_df['Model'] = toyota_df['Model'].str.replace(' 16 ', ' 16V ')

# CC
toyota_df['Model'] = toyota_df['Model'].str.replace(r'\d+.\d+I', ' VVTI ', regex=True) # Iyeccion Inteligente
toyota_df['Model'] = toyota_df['Model'].str.replace(r'\d+\.\d+D', ' DSL ', regex=True) # Diesel
toyota_df['Model'] = toyota_df['Model'].str.replace(r'\d+\.\d+V', ' ', regex=True) # TODO Error de tipeo
toyota_df['Model'] = toyota_df['Model'].str.replace(r'\d+\.\d', ' ', regex=True)

# Transmision
toyota_df['Model'] = toyota_df['Model'].str.replace('SPORTS TC', ' SPORT ') # Sports Transmission Control
toyota_df['Model'] = toyota_df['Model'].str.replace('D4D', ' D4D ') 
toyota_df['Model'] = toyota_df['Model'].str.replace('AUT4', ' MATIC4 ')
toyota_df['Model'] = toyota_df['Model'].str.replace('AUT3', ' MATIC3 ')
toyota_df['Model'] = toyota_df['Model'].str.replace('AUT.', ' MATIC ')
toyota_df['Model'] = toyota_df['Model'].str.replace('AUT', ' MATIC ')

# Airconditioner
toyota_df['Model'] = toyota_df['Model'].str.replace('AIRCO', 'AIRCO')

# Especials
toyota_df['Model'] = toyota_df['Model'].str.replace('NAVIGATIE', ' NAV ')
toyota_df['Model'] = toyota_df['Model'].str.replace('B.EDITION', ' B_ED ')
toyota_df['Model'] = toyota_df['Model'].str.replace(' / ', ' ')

In [7]:
# Encoding para las columnas originales
toyota_df['Fuel_Type'] = toyota_df['Fuel_Type'].map({'Petrol': 0, 'Diesel': 1, 'CNG': 2})

### Analisis Model

Analizamos todas las palabras y la cantidad de cada una:

In [ ]:
model_patterns = []

word_counts = toyota_df['Model'].str.split().explode().value_counts().reset_index()
word_counts.columns = ['Term', 'Value_Count']
word_counts_list = list(zip(word_counts['Term'], word_counts['Value_Count']))

for word in word_counts_list: 
    print(word)
    model_patterns.append(word[0])

Creamos las nuevas features en base a cada patron de interés contenido en el modelo, haciendo one-hot encoding (1=True, 0=False).

In [ ]:
for pattern in model_patterns:
    toyota_df[f"m_{pattern.lower()}"] = toyota_df['Model'].apply(lambda x: 1 if pattern in x else 0)

In [8]:
inferred_cols = [col for col in toyota_df.columns if col.startswith("m_")]
toyota_df[inferred_cols].describe().T

SyntaxError: invalid syntax (2764941996.py, line 1)

Ahora podemos simplificar algunas de estas columnas obtenidas:

In [ ]:
# Simplificamos el TIPO DE TRANSMISION
def get_m_trans(row):
    if row['m_matic'] == 1:
        return 1
    elif row['m_matic3'] == 1:
        return 2
    elif row['m_matic4'] == 1:
        return 3
    else:
        return 0

toyota_df['m_trans'] = toyota_df.apply(get_m_trans, axis=1)
toyota_df.drop(["m_matic", "m_matic3", "m_matic4"], axis=1, inplace=True)

In [6]:
# Simplificamos el TIPO DE TECNOLOGIA DE VALVULA
# def get_m_tech_valve(row):
#     if row['m_vvti'] == 1:
#         return 1
#     elif row['m_vvtli'] == 1:
#         return 2
#     else:
#         return 0

# toyota_df['m_tech_valve'] = toyota_df.apply(get_m_tech_valve, axis=1)
# toyota_df.drop(["m_vvti", "m_vvtli"], axis=1, inplace=True)

In [ ]:
# Obtenemos la lista final de columnas inferidas del modelo.
inferred_cols = [col for col in toyota_df.columns if col.startswith("m_")]

Ahora buscamos alguna correlacion entre las mismas (ignorar el prefijo 'm_'):

In [5]:
# Correlaciones entre todas las features inferidas
corr = toyota_df[[col if col.startswith('m_') else col for col in inferred_cols]].corr(method='pearson')
plt.figure(figsize=(20, 20))
sns.heatmap(corr, annot=True, cmap='coolwarm', center=0)
plt.title('Pearson Correlation Heatmap')
plt.show()

A mayor correlación, menos util nos resultarán las variables. En este caso, podemos observar lo siguiente:

- `6` y `v` tienen alta correlacion con `16v`, por lo que dejaremos solo `16v`.
- `r` tiene alta correlacion con `terra`, por lo que dejaremos solo `terra`.
- `so` con `sol` (error de tipeo seguro), por lo quedejaremos `sol`.
- `keuze`, `occassions`, `uit` y `s-uitvoering` se correacionan fuertemente, no quedamos con `uit` y la renombramos a `keuze_occ_uit`.
- `mpv` siempre va con `verso`, por lo que nos quedamos con `verso` y la renombramos a `mpv_verso`.

Aplicamos las desiciones anteriores al dataset:

In [ ]:
cols_to_drop = ['m_6', 'm_v', 'm_r', 'm_so', 'm_keuze', 'm_occasions', 'm_s-uitvoering', 'm_mpv']
toyota_df.drop([col for col in cols_to_drop if col in toyota_df.columns], axis=1, inplace=True)
toyota_df.rename(columns={'m_uit': 'm_keuze_occ_uit', 'm_verso': 'm_mpv_verso'}, inplace=True)

Ahora observamos la matriz de correlación con todas las columnas para ver si podemos descartar o mergear columnas.

In [ ]:
full_pearson_df = toyota_df.copy()
full_pearson_df.drop(['Model'], axis=1, inplace=True)
corr = full_pearson_df.corr(method='pearson')
plt.figure(figsize=(20, 20))
sns.heatmap(corr, annot=True, cmap='coolwarm', center=0)
plt.title('Pearson Correlation Heatmap')
plt.show()

Vemos que:

- La variable  `m_matic`, `m_matic3`, `m_matic4` que hemos inferido, se correlaciona directamente con la caja automatica, por lo que efectivamente los terminos AUT, AUT3 y AUT4 solo aportaban al hecho de ser caja automatica o no. Por lo tanto, solo nos quedamos con `Automatic`.
- `Radio_cassete` aporta lo mismo que `Radio`. Nos quedamos con `Radio`.
- `Powered_Windows` se relaciona con `Central_Lock`, nos quedamos con `Powered_Windows`. De estas el t-value de `Powered_Windows` está mejor.
- y dejamos `Automatic`
- `dsl`  es diesel, ya está en una columna
- `m_sport` esta poco relacionada con precio y su t-value muy bajo y p-value practicamente igual a 1.
- `m_16v` tiene 0.6 bajo t-value y 50% de p-value.
- `Mfg_month` y `Mfg_year` se unifican en una sola columna que muestra la edad en meses (esta nueva columna es exactament eigual que `Age_08_04` por lo que no nos sirve).
- `m_hatch_b` y `m_liftb` muy relacionado con `Doors`, por lo que las sacamos.
- Todos lo fuel type no aportan a Precio y presentan colinealidad con la mayoria de las variables.

In [ ]:
import datetime as dt
toyota_df["Mfg_Date"] = toyota_df["Mfg_Year"].astype(str) + "-" + toyota_df["Mfg_Month"].astype(str).str.zfill(2) + "-01"
today = dt.datetime.today()
toyota_df["Months_Life"] = toyota_df["Mfg_Date"].map(
    lambda x: (today - dt.datetime.strptime(x, "%Y-%m-%d")).days / 30.4375
)

toyota_df.drop(["Mfg_Date"], axis=1, inplace=True)
sns.scatterplot(x='Months_Life', y='Price', data=toyota_df)
plt.show()

sns.scatterplot(x='Age_08_04', y='Price', data=toyota_df)
plt.show()


Aplicamos los cambios:

In [ ]:
cols_to_drop = ['m_trans', 'Radio_cassete', 'Powered_Windows']
toyota_df.drop([col for col in cols_to_drop if col in toyota_df.columns], axis=1, inplace=True)
toyota_df.rename(columns={'m_uit': 'm_keuze_occ_uit', 'm_verso': 'm_mpv_verso'}, inplace=True)

Finalmente, podemos obtener la cantidad de posibles modelos que se pueden formar.

In [ ]:
# Obtenemos la lista final de columnas inferidas del modelo.
inferred_cols = [col for col in toyota_df.columns if col.startswith("m_")]

# Agrupamos por los patrones únicos y contamos ocurrencias
pattern_counts = toyota_df.groupby(inferred_cols).size().reset_index(name='Cantidad')

# Generamos el nombre del modelo para cada patrón
def get_model_name(row):
    name_parts = []
    for col in inferred_cols:
        if row[col] == 1:
            name_parts.append(col[2:].upper())
    return " ".join(name_parts) if name_parts else "SIN MODELO"

pattern_counts['Nombre_modelo'] = pattern_counts.apply(get_model_name, axis=1)

# Mostramos la tabla con el nombre del modelo y la cantidad de ocurrencias
display(pattern_counts[['Nombre_modelo', 'Cantidad']].sort_values('Cantidad', ascending=False))

In [ ]:
# Barplot showing the count of 1s for each m_ column in a single plot
m_cols = [col for col in toyota_df.columns if col.startswith("m_")]
ones_counts = [toyota_df[col].sum() for col in m_cols]

plt.figure(figsize=(10, 6))
sns.barplot(x=m_cols, y=ones_counts)
plt.title("Count of 1s in each m_ column")
plt.xlabel("m_ columns")
plt.ylabel("Count of 1s")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

### Gamas

De las palabras vistas arriba, 'Terra', 'Luna', 'Sol' y son gamas de toyota corollas que ofrecian diferentes caracteristicas. Vamos a crear una columna en donde podamos visualizar los tipos de cada instancia.

In [ ]:
toyota_df['Model_type'] = toyota_df['Model'].apply(lambda x: 0 if 'TERRA' in x else 1 if 'LUNA' in x else 2 if 'SOL' in x else 3)
sns.histplot(toyota_df['Model_type'])
plt.show()

In [ ]:
sns.scatterplot(x='Model_type', y='Price', data=toyota_df)
plt.show()

Analicemos que pasa con los que no tienen una de las categorias.

In [ ]:
def get_not_classified(df, column, value):
    return df[df[column] == value]

In [ ]:
df = get_not_classified(toyota_df, 'Model_type', 3)
df.head()

Mucho TSPORT, vamos a ver si esto corresponde a otra categoria diferente que no habiamos tenido en cuenta.

In [ ]:
def classified_contains(df, column, value, contains):
    temp_df = df[df[column] != value]
    temp_df['Model'].str.contains(contains)
    temp_df.value_counts()

In [ ]:
classified_contains(toyota_df, 'Model_type', 3, 'TSPORT')

Nunca aparece el valor de TSPORT cuando hay presente uno de los modelos que tomamos, entendemos que se trata de otro modelo

In [ ]:
toyota_df.drop(['Model_type'], axis=1, inplace=True)
toyota_df['Model_type'] = toyota_df['Model'].apply(lambda x: 0 if 'TERRA' in x else 1 if 'LUNA' in x else 2 if 'SOL' in x else 3 if 'TSPORT' in x else 4)
sns.histplot(toyota_df['Model_type'])
plt.show()

Repetimos el analisis para ver que queda por clasificar

In [ ]:
df = get_not_classified(toyota_df, 'Model_type', 4)
print(df.shape)
df.head()

Parece ser que el resto no esta clasificado en el dataset. Debemos evaluar que hacemos con esos.

In [ ]:
sns.scatterplot(x='Model_type', y='Price', data=toyota_df)
plt.show()

Algo interesante es la palabra comfort, que solo aparece en modelos terra. Quizas es otra categoria.

In [ ]:
# Create a new vector with true or false if the model contains comfort and not terra
comfort_and_not_terra = toyota_df['Model'].str.contains('COMF') & ~toyota_df['Model'].str.contains('TERRA')
comfort_and_not_terra.value_counts()

In [ ]:
toyota_df.drop(['Model_type'], axis=1, inplace=True)
toyota_df['Model_type'] = toyota_df['Model'].apply(lambda x: 0 if 'TERRA' in x else 1 if 'COMF' in x else 2 if 'LUNA' in x else 3 if 'SOL' in x else 4 if 'TSPORT' in x else 5)
sns.histplot(toyota_df['Model_type'])
plt.show()

In [ ]:
sns.scatterplot(x='Model_type', y='Price', data=toyota_df)
plt.show()

### Carroceria

Hay por lo menos tres tipos de carroceria que detectamos en los nombres: liftback, hatchback y wagon. Vamos a clasificarlos

In [ ]:
toyota_df['carroceria'] = toyota_df['Model'].apply(lambda x: 0 if 'HATCHB' in x else 1 if 'LIFTB' in x else 2 if 'WAGON' in x else 3)
sns.histplot(toyota_df['carroceria'])
plt.show()

In [ ]:
df = get_not_classified(toyota_df, 'carroceria', 4)
print(df.shape)
df.head()

El resto parece no estar clasificado.

In [ ]:
sns.scatterplot(x='carroceria', y='Price', data=toyota_df)
plt.show()

No parece tener mucha relacion con el precio.

### Tecnologia motor

In [ ]:
toyota_df['tecnologia_motor'] = toyota_df['Model'].apply(lambda x: 0 if 'VVTI' in x else 1 if 'VVTLI' in x else 2)
sns.histplot(toyota_df['tecnologia_motor'])
plt.show()

In [ ]:
sns.scatterplot(x='tecnologia_motor', y='Price', data=toyota_df)
plt.show()

In [ ]:
df = get_not_classified(toyota_df, 'tecnologia_motor', 2)
print(df.shape)
df.head()

In [ ]:
# Limpiamos los string que pasaron a ser feature.
# Replace all the names in the names list with ''
names = ['Corolla', 'Yaris', 'Camry', 'Hilux', 'Etios', 'SW4', 'RAV4', 'Prius', 'Avanza', 'Innova']
import re
pattern = r'\b(?:' + '|'.join(map(re.escape, names)) + r')\b'
toyota_df['Model'] = toyota_df['Model'].str.replace(pattern, '', regex=True)
toyota_df['Model'] = toyota_df['Model'].str.strip()

In [ ]:

toyota_df['Model'].value_counts()

In [ ]:
# Drop this column to avoid normalization and non-numeric issues in the next steps
toyota_df.drop(['Model'], axis=1, inplace=True)

## Analisis combustible

In [ ]:
toyota_df['Fuel_Type'].value_counts()

Parece correcto. No hay categorias anormales. Los convertimos a numeros y vemos el scatterplot

In [ ]:
# Map fuel type to numbers
toyota_df['Fuel_Type'] = toyota_df['Fuel_Type'].map({'Petrol': 0, 'Diesel': 1, 'CNG': 2})
sns.scatterplot(x='Fuel_Type', y='Price', data=toyota_df)
plt.show()

## Analsis generales

In [3]:
toyota_df.drop(['Id'], axis=1, inplace=True)

NameError: name 'toyota_df' is not defined

In [ ]:
# Let's create histograms for each column with seaborn
plt.figure(figsize=(10, 10))
toyota_df.hist(figsize=(10, 10))
plt.show()

In [ ]:
toyota_df['Cylinders'].value_counts()

Solo hay un valor para esta feature, no sirve para predecir nada.

In [ ]:
toyota_df.drop(['Cylinders'], axis=1, inplace=True)

In [ ]:
toyota_df.corr(method='pearson')